@import "variables/variables";
@import "lib/lib";
@import "header/header";
@import "components/slider";
@import "components/cards";
@import "footer/footer";
@import "lib/libResponsive";

@font-face {
   font-family: Roboto;
   font-style: normal;
   font-weight: 400;
   src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxP.ttf) format("truetype");
}

body,
html {
   margin: 0;
   padding: 0;
   font-family: Roboto, sans-serif;
}

/* CONTAINER */

.cantainer,
.container-fluid {
   width: 100%;
}

.container {
   margin: 0 auto;
}

.intro {
   padding: 20px;
   text-align: center;
   font-size: 1.5em;
   color: #0f485c;
}

.row {
   margin-bottom: 15px;
}

.row::after,
.row::before {
   display: table;
   content: "";
}

.row::after {
   clear: both;
}

.col {
   position: relative;
   padding-left: 15px;
   padding-right: 15px;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   min-height: 1px;
   float: left;
}

.test {
   color: #48657c;
}

.destion {
   width: 90%;
   height: 90%;
}

.rectangulo {
   width: 100%;
   height: auto;
   background-color: linear-gradient(to bottom, $thirdColor, $secondColor);
}

.group li {
   margin: 0;
   padding: 0;
   display: inline;
}

.group li a {
   display: block;
   line-height: 25px;
   padding-left: auto;
   color: #cce5f2;
}
