%animacionOpacity {
   opacity: 0;
   animation: kfsOpacity 2s ease-in forwards;
   @keyframes kfsOpacity {
      0% {
         opacity: 0.2;
      }
      25% {
         opacity: 0.4;
      }
      50% {
         opacity: 0.6;
      }
      75% {
         opacity: 0.8;
      }
      100% {
         opacity: 1;
      }
   }
}
