@mixin size($width, $height) {
   width: $width;
   height: $height;
}

@mixin display_mode_flex_centered {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   align-content: center;
}
