@import "mixins";
@import "keyframes";

/* FOOTER */
.footer {
   position: relative;
   height: 100px;
   margin-top: 5px;
}
/* COL FOOTER */
.col-footer {
   padding-left: 20px;
   @include color-height;
}

//Fondo de footer//
.rectangulo {
   width: 100%;
   height: auto;
   background: linear-gradient(to bottom, $thirdColor, $secondColor);
}
.group {
   padding: 25px;
   & li {
      margin: 0;
      padding: 0;
      display: inline;
   }
   & li a {
      display: block;
      line-height: 25px;
      padding-left: auto;
      color: #cce5f2;
   }
}

.formulario-wrapper {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   & & {
      width: 320px;
   }
   & .formulario-mail {
      width: 100%;
      max-width: 580px;
   }
}

/* REDES SOCIALES */
.redes-sociales {
   position: absolute;
   height: 45px;
   bottom: 5px;
   right: 15px;

   & button {
      border: 0;
      border-radius: 5px;
      background: $secondColor;

      & i {
         font-size: 2.8em;
         color: #cce5f2;
      }
      & .fa:hover {
         animation: temblar 0.5s ease-out backwards;
      }
   }
}

/* SEARCH BAR */
.search-bar {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   margin: 0;
   padding: 0;
   padding: 0 15px;

   & input {
      border: 0;
      border-radius: 5px 0 0 5px;
      padding-left: 15px;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      height: 50px;
      @include color-height;
   }
   & input::-webkit-input-placeholder,
   & input:-ms-input-placeholder,
   & input::-ms-input-placeholder,
   & input::placeholder {
      color: #0f465e;
   }
   & button {
      border-radius: 0 5px 5px 0;
      color: #0f465e;
      border: 0;
      background-color: $secondColor;
      padding: 0 15px;
   }
}
.btn {
   & a:link,
   & a:visited {
      text-transform: uppercase;
      text-decoration: none;
      border-radius: 100px;
      transition: all 0.2s;
      color: $thirdColor;
      font-weight: bold;
   }
   &:hover {
      transform: translateY(-3px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   }
}
/* ROW */
.row-footer {
   font-size: 1em;
   text-align: center;
   @include color-height;
}
