@import "mixins";

/* FOOTER */

.footer {
   position: relative;
   height: 100px;
   margin-top: 5px;
}

/* COL FOOTER */

.col-footer {
   height: 50px;
   padding-left: 20px;
   color: #cce5f2;
}

/* REDES SOCIALES */

.redes-sociales {
   position: absolute;
   height: 45px;
   bottom: 5px;
   right: 15px;
}
.redes-sociales button {
   border: 0;
   border-radius: 5px;
   background: #48657c;
}
.redes-sociales button i {
   font-size: 2.8em;
   color: #cce5f2;
}

/* SEARCH BAR */

.search-bar {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   margin: 0;
   padding: 0;
   padding: 0 15px;
}

.search-bar input {
   height: 40px;
   border: 0;
   border-radius: 5px 0 0 5px;
   padding-left: 15px;
   -webkit-box-flex: 1;
   -ms-flex: 1;
   flex: 1;
   background: #cce5f2;
}

.search-bar input::-webkit-input-placeholder {
   color: #0f465e;
}

.search-bar input:-ms-input-placeholder {
   color: #0f465e;
}

.search-bar input::-ms-input-placeholder {
   color: #0f465e;
}

.search-bar input::placeholder {
   color: #0f465e;
}

.search-bar button {
   border-radius: 0 5px 5px 0;
   color: $primaryColor;
   border: 0;
   background: $primaryColor;
   padding: 0 15px;
}

/* ROW */

.row-footer {
   height: 50px;
   font-size: 1em;
   color: #cce5f2;
   text-align: center;
}

/* ftr */
