$primaryColor: cyan;
$secondColor: cadetblue;
$thirdColor: #48657c;
$colorBoxShadown: cyan;
$paper: white;
/* 
$primaryColor: #152e63;
$secondColor: cadetblue;
$actionColor: #13780e;
$backgrounColor: white;
 */
